
/* Do Hyeon Body Font */
@font-face {
  font-family: 'Do Hyeon';
  font-display: auto;
  src: local('Do Hyeon'),
       url('#{$asset_url}/fonts/DoHyeon-Regular.ttf') format('truetype');
}

/* Cindy Julia Header Font */
@font-face {
  font-family: 'Cindy Julia';
  font-display: auto;
  src: local('Cindy Julia'),
       url('#{$asset_url}/fonts/CindyJulia.ttf') format('truetype'),      
}
