/* Cindy Julia Header Font */
@font-face {
  font-family: 'Cindy Julia';
  font-display: auto;
  src: local('Cindy Julia'),
       url('#{$asset_url}/fonts/CindyJulia.ttf') format('truetype'),      
}

/* Do Hyeon Body Font */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Barcode Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended&display=swap');
