.footnote {

  color: $text-color;
  display: inline;
  font-size: .75em;
  font-weight: 700;
  padding: 0.05em;
  vertical-align: super;
  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.footnotes::before {
  content: '';
  @include divider;
  margin: 4em auto;
  text-align: center;
}

.footnotes {
  margin-bottom: 4em;
}

.footnotes li {
  margin-bottom: 1em;
}

.reversefootnote {
  font-size: .75em;
  opacity: .75;
}